$themes: (paris: (primaryColor: #006e92,
    primaryLighterColor: #0094c4,
    primaryDarkerColor: #003f54,
     accentColor: #36a5c9
    ),
    eis: (primaryColor:#145dbf,
    primaryDarkerColor: #0d3b7a,
    accentColor: #222222,
    primaryLighterColor: #4082db
    ),
    fhg: (primaryColor: #009374,
    primaryDarkerColor: #004738
    ),
    mobids: (
    primaryColor:#239b7e,
    accentColor:#E96A22,
    primaryDarkerColor: #5FB6A1,
    primaryLighterColor:#E96A22
    )
);